<h1>Editing Book</h1>

<% if @book.errors.any? %>
  <%= @book.errors.count %>errors occurred.
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @book, url: update_book_path(@book.id), method: :patch do |f| %>

  <h5>Title</h5>
  <%= f.text_field :title %>

  <h5>Body</h5>
  <%= f.text_area :body %>

  <%= f.submit 'Update Book' %>

  <%= link_to "Show", book_path(@book.id) %>
  <%= link_to "Back", books_path(@book.id) %>

<% end %>