<h1>Books</h1>

  <% @books.each do |book| %>

<table>
  <tr>
  <th>Title</th>
  <th>Body</th>
  </tr>

  <tr>
  <td><span><%= book.title %></span></td>
  <td><span><%= book.body %></span></td>
  <td><%= link_to "Show", book_path(book.id) %></td>
  <td><%= link_to "Edit", edit_book_path(book.id) %></td>
  <td><%= link_to "Destroy", book_path(book), method: :delete, data: { confirm: "Are you sure?" }%></td>
  </tr>
</table>

<% end %>

<h2>New book</h2>

<% if @book.errors.any? %>
  <%= @book.errors.count %>errors occurred.
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: Book.new do |f| %>
  <div class="form-group"></div>
  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Body</h4>
  <%= f.text_area :body %>
  </div>

  <div class="form-submit">

  <%= f.submit 'Create Book' %>

  </div>
<% end %>


